.opener-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 20px;
    width: 100%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    background: whitesmoke;
    z-index: 1;
    border-bottom: 5px solid black;
    height: 100px;
    padding: 0 20px;
    margin-top: 100px;
}

.opener-first, .opener-last {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.opener-center {
    text-align: center;
}

.opener-center h2 {
    margin: 0;
}

.floater-icon-nav {
    width: 70px;
    height: 70px;
}

.floater-icon-nav:hover .floater-icon, .floater-icon-nav:hover .floater-links, .floater-icon-nav:hover .floater-text {
    color: #007ba7;
}

.floater-icon {
    color: #000080;
}

.floater-text {
    color: #000080;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

.floater-links {
    color: #000080;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.floater-links:hover {
    color: #000080;
    text-decoration: none;
}

#navigation-partial {
    display: none;
}

@media screen and (max-width: 1000px) {
    .opener-center h2 {
        font-size: 30px;
    }

    .opener-container {
        padding: 0 10px;
        column-gap: 10px;
    }

    .opener-first, .opener-last {
        column-gap: 10px;
    }
}

@media screen and (max-width: 900px) {
    .opener-container {
        padding: 0 5px;
        column-gap: 5px;
    }

    .opener-first, .opener-last {
        column-gap: 5px;
    }
}

@media screen and (max-width: 800px) {
    .opener-center h2 {
        font-size: 25px;
    }

    .opener-text {
        font-size: 15px;
        line-height: 15px;
    }
}

@media screen and (max-width: 700px) {
    .opener-center h2 {
        font-size: 20px;
    }

    .opener-text {
        font-size: 12px;
        line-height: 12px;
    }
}

@media screen and (max-width: 600px) {
    #navigation-partial {
        display: block;
        width: 100%;
    }
    
    #navigation-full {
        display: none;
    }

    .opener-container{
        padding: 0;
    }

    .opener-top {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        align-items: center;
        justify-items: center;
        justify-content: space-between;
        border-bottom: 5px solid black;
    }
    
    .opener-bottom {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .opener-bottom h2 {
        font-size: 18px;
        line-height: 18px;
        padding: 1px;
    }

    .floater-icon i {
        transform: scale(0.75);
    }
}