.opener-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: whitesmoke;
    z-index: 1;
    border-bottom: 5px solid black;
    height: 100px;
    padding: 5px;
    margin-top: 100px;
}

.opener-first {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 25px 10px 0 10px;
}

.opener-center {
    text-align: center;
    margin-top: -10px;
}

.opener-last {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px 10px 0 10px;
}

h2 {
    padding: 0;
    margin: 0;
    color: black;
    text-align: center;
}

.floater-icon-nav {
    width: 100px;
    height: 100px;
}

.floater-icon-nav:hover .floater-icon, .floater-icon-nav:hover .floater-links, .floater-icon-nav:hover .floater-text {
    color: #007ba7;
}

.floater-icon {
    color: #000080;
}

.floater-text {
    color: #000080;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

.floater-links {
    color: #000080;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.floater-links:hover {
    color: #000080;
    text-decoration: none;
}

#navigation-partial {
    display: none;
}

@media screen and (max-width: 1100px) {
    .opener-center h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 1000px) {
    .opener-center h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 950px) {
    .floater-icon i {
        transform: scale(0.9);
    }

    .floater-icon-nav {
        width: 50px;
        height: 50px;
    }

    .opener-container {
        padding: 0;
    }

    .opener-first, .opener-last {
        width: 25%;
        margin-bottom: 50px;
    }

    .opener-center {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .floater-icon i {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 850px) {
    .floater-icon i {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 800px) {
    .opener-first, .opener-last {
        width: 35%;
    }

    .opener-center {
        width: 30%;
    }

    .floater-icon i {
        transform: scale(1);
    }

    .opener-center h2 {
        font-size: 15px;
    }

    .opener-text {
        font-size: 15px;
        line-height: 15px;
    }
}

@media screen and (max-width: 600px) {
    #navigation-partial {
        display: block;
        width: 100%;
    }
    
    #navigation-full {
        display: none;
    }

    .opener-top {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        align-items: center;
        justify-items: center;
        justify-content: space-between;
        border-bottom: 5px solid black;
    }
    
    .opener-bottom {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding-top: 3px;
    }

    .floater-icon i {
        transform: scale(0.75);
    }

    .floater-icon-nav {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    .floater-text {
        margin-top: -10px;
        font-size: 15px;
    }

    .opener-bottom h2 {
        font-size: 20px;
        line-height: 20px;
    }
}