.meme-card {
    width: 100%;
    height: 100%;
    border: 3px solid #000080;
    border-radius: 3px;
}
    
.meme-card:hover {
    border: 3px solid #007ba7;
}

.meme-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog-card {
    width: 100%;
    height: 100%;
    display: grid;
    background: white;
    grid-template-columns: 25% 75%;
    border: 3px solid #000080;
    border-radius: 3px;
}

.blog-card:hover {
    border: 3px solid #007ba7;
}

.blog-card-side {
    border-right: 3px solid #000080;
}

.blog-card-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-card:hover .blog-card-side {
    border-right: 3px solid #007ba7;
}

.blog-card-body a, .blog-card-body a:hover {
    color: black;
    text-decoration: none;
}

.blog-card-main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.blog-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-card-button {
    width: 25%;
    float: left;
    padding-right: 10px;
}

.blog-card-date {
    float: right;
    color: gray;
    font-size: 15px;
}

.card-with-border {
    width: 100%;
    height: 250px;
    border: 3px solid #000080;
    border-radius: 3px;
}

.card-with-border:hover {
    border: 3px solid #007ba7;
}

.resource-blog-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border: 3px solid #000080;
    border-radius: 3px;
    padding: 20px;
}

.resource-blog-card:hover {
    border: 3px solid #007ba7;
}

.resource-blog-card-body a, .resource-blog-card-body a:hover {
    color: black;
    text-decoration: none;
}

.resource-blog-card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.resource-blog-card-button {
    width: 100%;
}

.resource-blog-card-date {
    color: gray;
    font-size: 15px;
    margin-top: 10px;
}

.code-blog-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    border: 3px solid #000080;
    border-radius: 3px;
}

.code-blog-card:hover {
    border: 3px solid #007ba7;
}

.code-blog-card-top {
    border-bottom: 3px solid #000080;
}

.code-blog-card-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.code-blog-card:hover .code-blog-card-top {
    border-bottom: 3px solid #007ba7;
}

.code-blog-card-body a, .code-blog-card-body a:hover {
    color: black;
    text-decoration: none;
}

.code-blog-card-main {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.code-blog-card-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.code-blog-card-button {
    width: 100%;
}

.code-blog-card-date {
    color: gray;
    font-size: 15px;
    margin-top: 10px;
}

.tweet-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border: 3px solid #000080;
    border-radius: 3px;
    padding: 20px;
}

.tweet-card:hover {
    border: 3px solid #007ba7;
}

.tweet-card-body a, .tweet-card-body a:hover {
    color: black;
    text-decoration: none;
}

.tweet-card-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.tweet-card-button {
    width: 100%;
}

.tweet-card-date {
    color: gray;
    font-size: 15px;
    margin-top: 10px;
}

.git-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border: 3px solid #000080;
    border-radius: 3px;
    padding: 20px;
}

.git-card:hover {
    border: 3px solid #007ba7;
}

.git-card-body a, .git-card-body a:hover {
    color: black;
    text-decoration: none;
}

.git-card-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.git-card-button {
    width: 100%;
}

.git-card-date {
    color: gray;
    font-size: 15px;
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {
    .blog-card {
        grid-template-columns: 30% 70%;
    }

    .blog-card-button {
        width: 30%;
    }
}

@media screen and (max-width: 900px) {
    #tweet-cards {
        grid-template-columns: 100%;
        row-gap: 20px;
    }

    .tweet-card-footer {
        flex-direction: row;
    }
    
    .tweet-card-button {
        width: 40%;
        float: left;
        padding-right: 10px;
    }
    
    .tweet-card-date {
        float: right;
    }
}

@media screen and (max-width: 800px) {
    .blog-card-body p {
        display: none;
    }

    .blog-card-date {
        font-size: 15px;
        margin-top: 10px;
    }

    .blog-card-button {
        width: 100%;
    }

    .blog-card-footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    #tumblr-resource-cards, #tweet-cards {
        grid-template-columns: 100%;
        row-gap: 20px;
    }

    .resource-blog-card-footer {
        flex-direction: row;
    }
    
    .resource-blog-card-button {
        width: 40%;
        float: left;
        padding-right: 10px;
    }
    
    .resource-blog-card-date {
        float: right;
    }
}

@media screen and (max-width: 700px) {
    #dev-cards, #tumblr-meme-cards, #youtube-cards, #github-cards {
        grid-template-columns: 100%;
        row-gap: 20px;
    }

    .git-card-footer {
        flex-direction: row;
    }
    
    .git-card-button {
        width: 40%;
        float: left;
        padding-right: 10px;
    }
    
    .git-card-date {
        float: right;
    }

    .code-blog-card-footer {
        flex-direction: row;
    }
    
    .code-blog-card-button {
        width: 40%;
        float: left;
        padding-right: 10px;
    }
    
    .code-blog-card-date {
        float: right;
    }
}

@media screen and (max-width: 600px) {
    .blog-card {
        grid-template-columns: 50% 50%;
    }

    .code-blog-card-body p {
        display: none;
    }

    .code-blog-card-body h4 {
        text-align: center;
    }
}