@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

body {
    background: url("./painting.jpg");
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 100px;
    padding: 10px;
    background: black;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 100px;
    /* line-height: 100px; */
    background: gray;
    color: black;
    font-style: italic;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline;
    padding: 10px;
}

footer img {
    width: 50px;
}

main {
    background: white;
    padding: 25px 50px 50px 50px;
    margin: 200px 100px;
    border-radius: 10px;
}

.contains-columns {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    width: 100%;
}

.left-column {
    grid-column-start: 1;
    grid-column-end: 2;
}

.right-column {
    grid-column-start: 3;
    grid-column-end: 4;
}

.project {
    width: 100%;
    text-align: center;
}

img.project {
    width:  600px;
    height: 400px;
    object-fit: cover;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline;
    padding: 10px;
}

h1, h2, h3 {
    font-family: 'Galada', cursive;
    text-align: center;
}

.card-lock {
    position: static;
}

.skill {
    margin: 10px 10px 0 0;
}

.card-connect:first-child {
    margin-bottom: 20px;
}

.card-connect:last-child {
    margin-top: 20px;
}

.card-connect:not(:first-child,:last-child) {
    margin: 20px 0;
}

.card-footer-connect {
    font-size: 14px;
    margin: 8px 0;
}

.center {
    width: 30%;
    margin: 0 35%;
}

.social {
    width: 50%;
    margin: 0 25%;
}

.other-button {
    margin-left: 10px;
}

.top-margin {
    margin-top: 20px;
}

.headshot {
    width: 50%;
    float: left;
    margin: 0 20px 20px 0;
}