@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

body {
    background: url("./painting.jpg");
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    padding: 10px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    opacity: 90%;
    z-index: 10;
}

footer {
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
    padding: 10px;
    color: white;
    font-style: italic;
    margin-top: -100px;
}

header li:hover {
    font-weight: bold;
}

header ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 10px;
}

.headline {
    text-decoration: none;
    color: black;
    line-height: 100px;
}

.headline:hover {
    text-decoration: none;
    color: black;
    line-height: 100px;
}

header a {
    font-style: none;
    color: black;
}

header i:hover {
    font-weight: bold;
    color: grey;
}

main {
    padding: 25px;
    margin: 100px;
}

.project-highlight {
    width: 100%;
    height: 300px;
    position: relative;
    background: white;
}

.project-image {
    height: 100%;
    width: 100%;
    transition: 1s ease;
}

.project-image-callout {
    margin-top: 20px;
}

.project-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.project-highlight:hover .project-overlay {
    opacity: 1;
}

.project-highlight:hover .project-image {
    opacity: 0.5;
}

.contains-columns {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    width: 100%;
}

.left-column {
    grid-column-start: 1;
    grid-column-end: 2;
}

.right-column {
    grid-column-start: 3;
    grid-column-end: 4;
}

.project {
    width: 100%;
    text-align: center;
}

img.project {
    width:  600px;
    height: 400px;
    object-fit: cover;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline;
    padding: 10px;
}

.navigation-links:hover {
    text-decoration: none;
    color: black;
}

h2, h3 {
    font-family: 'Galada', cursive;
    text-align: center;
    color: white;
}

.card-lock {
    position: static;
}

.skill {
    margin: 10px 10px 0 0;
}

.card-connect:first-child {
    margin-bottom: 20px;
}

.card-connect:last-child {
    margin-top: 20px;
}

.card-connect:not(:first-child,:last-child) {
    margin: 20px 0;
}

.card-footer-connect {
    font-size: 14px;
    margin: 8px 0;
}

.center {
    width: 30%;
    margin: 0 35%;
}

.social {
    width: 50%;
    margin: 0 25%;
}

.social-icon:hover {
    fill: gray;
}

.other-button {
    margin-left: 10px;
}

.top-margin {
    margin-top: 20px;
}

.headshot {
    width: 100%;
}