@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap');

body {
    background: url("./painting.jpg");
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    padding: 10px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    z-index: 1;
}

footer {
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
    padding: 10px;
    color: white;
    font-style: italic;
    margin-top: -100px;
}

header ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 10px;
}

.headline {
    text-decoration: none;
    color: black;
    line-height: 100px;
}

.headline:hover {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 1px black;
}

header a {
    font-style: none;
    color: black;
}

header i:hover {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 1px black;
}

main {
    padding: 25px;
    margin: 100px;
}

.project-highlight {
    width: 100%;
    position: relative;
    background: white;
}

.project-image {
    transition: 1s ease;
}

.blank-space {
    height: 20px;
}

.project-image-callout {
    margin-top: 20px;
}

.project-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.links:hover {
    text-decoration: none;
    color: black;
}

.project-highlight:hover .project-overlay {
    opacity: 1;
}

.project-highlight:hover .project-image {
    opacity: 0.5;
}

.page-container {
    margin-bottom: 20px;
}

.contains-columns {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    width: 100%;
}

.left-column {
    grid-column-start: 1;
    grid-column-end: 2;
}

.right-column {
    grid-column-start: 3;
    grid-column-end: 4;
}

.project {
    width: 100%;
    text-align: center;
}

img.project {
    width:  600px;
    height: 400px;
    object-fit: cover;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline;
    padding: 10px;
}

.navigation-links:hover {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 1px black;
}

h1, h2, h3, .navigation-links, .project-title {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
}

h1 {
    color: black;
    font-size: 40px;
}

h2, h3 {
    color: white;
    text-shadow: 1px 1px 1px black;
}

.project-title {
    font-size: 40px;
}

.card-lock {
    position: static;
}

.skill {
    margin: 10px 10px 0 0;
}

.card-connect:first-child {
    margin-bottom: 20px;
}

.card-connect:last-child {
    margin-top: 20px;
}

.card-connect:not(:first-child,:last-child) {
    margin: 20px 0;
}

.card-footer-connect {
    font-size: 14px;
    margin: 8px 0;
}

.center {
    width: 30%;
    margin: 0 35%;
}

.social {
    width: 50%;
    margin: 0 25%;
}

.other-button {
    margin-left: 10px;
}

.top-margin {
    margin-top: 20px;
}

.headshot {
    width: 100%;
}

.square {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
  
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square-content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.about-card {
    background: white;
    width: 100%;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 1%;
}

.about-image {
    float: left;
    width: 50%;
    padding-right: 20px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1000px) {
    .center {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
    .contains-columns {
        grid-template-columns: 100%;
    }

    .left-column {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .right-column {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .navigation, .social-icons {
        display: none;
    }
    
    h1 {
        text-align: center;
    }

    .card {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    main {
        margin: 100px 50px;
        padding: 10px;
    }
}

@media screen and (max-width: 500px) {
    body { 
        height: 100%;
    }

    main {
        margin: 100px 10px;
        padding: 5px;
    }
}